@charset "UTF-8";

html {
	
	scroll-behavior: smooth;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	font-size: 100%;
}

body {
	font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
	line-height: 2;
	font-size: 100%;
}

main {
	display: block;
	padding: 3.5rem 0;
}

*,
::after,
::before {
	box-sizing: border-box;
	word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Expletus Sans", -apple-system, BlinkMacSystemFont, arial, sans-serif;
	font-weight: 700;
	margin: 0 auto;
	hyphens: none;
	line-height: 2
}

h1, h2, .h4 {
	font-size: 200%;
}

h3 {
	font-size: 150%;
}

p {
	text-indent: 2em;
	margin: 0.5em 0;
}

.uwu {
	background: #ccc;
}

.rel {
	position: relative
}

.grup {
	max-width: 90%;
	margin: 0 auto;
}

section {
	background: #ccc;
	padding: 3em 1em 1em;
	margin: 4% auto;
	width: 96%
}

section {
	border: 1px #000 solid
}

section h3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0;
	padding: 0 2rem;
	border-bottom: 1px #000 solid;
}

.sec-1 h3 {
	color: #000;
	background: tomato
}

.sec-2 h3 {
	color: #fff;
	background: #663399
}

.sec-3 h3 {
	color: #000;
	background: #ff0
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  /*background: url('../images/restaurant-logo_large.png') no-repeat;*/
  width: 150px;
  height: 150px;
  margin: 15px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 1px #222;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

footer {
	color: #fff;
	background: #00093d;
}

footer a {
	color: aqua;
	font-weight: 700;
}

footer a:hover, footer a:focus {
	color: yellow;
}

.s-l,
.s-l ul,
.s-l li {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

/* Social menu -------------------------------- */

.menu-soc {
	padding: 3.5rem 0;
	border-bottom: 0.1rem solid yellow;
}

.menu-soc li {
	line-height: 0;
}

.menu-soc svg {
	margin: auto;
	height: inherit;
}

.ic-soc {
	margin: 0;
}

.ic-soc a {
	background: #ffbbdd;
	border-radius: 100%;
	color: #000;
	display: inline-block;
	height: 3rem;
	width: 3rem;
	opacity: 0.75;
}

.ic-soc a:focus,
.ic-soc a:hover {
	opacity: 1;
}

.ic-soc li {
	margin: 1rem;
	/*list-style: none;*/
	display: inline-block;
}

.seccion {
	padding: 5rem 0;
}

.m-sec {
	border-bottom: 0.1rem solid yellow;
}

.m-sec .h4 {
	margin: 0;
}

.m-sec ul, .m-sec li {
	margin: 0.3rem 0;
}

.copy {
	padding: 3.5rem 0;
	font-weight: 700;
}

/*Text for screen readers. I think we don't see this in the course, however, it's relevant nowadays*/
.lector-p {
	height: 1px;
	margin: -1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	color: #fff;
	background: #000;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	word-wrap: normal;
}



@media (min-width:768px) {
	.sec-1,
	.sec-2 {
		width: 46%;
		margin: 0 2%;
		display: inline-block
	}
	
}

@media (min-width:992px) {
	.sec-1,
	.sec-2,
	.sec-3 {
		width: 30%;
		margin: calc(10% / 6)
	}
	.sec-3 {
		display: inline-block
	}
	
	/* Menús footer. The original media query on my website is 1024px */
	.m-sec .c {
		width: calc(100% / 3);
		padding: 0 2%;
		display: inline-block;
	}
}

