@charset "UTF-8";

html {
	font-family: Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
	scroll-behavior: smooth;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	font-size: 100%;
}

body {
	line-height: 2;
	font-size: 100%;
}

*,
::after,
::before {
	box-sizing: border-box;
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Expletus Sans", -apple-system, BlinkMacSystemFont, arial, sans-serif;
	font-weight: 700;
	margin: 0 auto;
	hyphens: none;
	line-height: 2
}

h1, h2 {
	font-size: 175%
}

h3 {
	font-size: 125%
}

p {
	text-indent: 2em;
	margin: 0.5em 0;
}

.uwu {
	background: lightgreen;
}

.rel {
	position: relative
}

.grup {
	max-width: 90%;
	margin: 0 auto;
}

section {
	background: #ccc;
	padding: 3em 1em 1em;
	margin: 4% auto;
	width: 96%
}

section {
	border: 1px #000 solid
}

section h3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	margin: 0;
	padding: 0 2rem;
	border-bottom: 1px #000 solid;
}

.sec-1 h3 {
	color: #000;
	background: tomato
}

.sec-2 h3 {
	color: #fff;
	background: #663399
}

.sec-3 h3 {
	color: #000;
	background: #ff0
}

#logo-img {
	background-image: url("../images/restaurant-logo_small.png");
}

@media (min-width:768px) {
	.sec-1,
	.sec-2 {
		width: 46%;
		margin: 0 2%;
		display: inline-block
	}
	
	#logo-img {
		background-image: url("../images/restaurant-logo_medium.png");
	}
}

@media (min-width:992px) {
	.sec-1,
	.sec-2,
	.sec-3 {
		width: 30%;
		margin: calc(10% / 6)
	}
	.sec-3 {
		display: inline-block
	}
	
	#logo-img {
		background-image: url("../images/restaurant-logo_large.png");
	}
}

